# HTML Parsing BeautifulSoup: A Mini Project
* Scrape data from a public website
* Organize the data as a dataframe
* Export the data as an excel sheet
* URL: https://www.bbc.com/sport/football/premier-league/top-scorers

In [25]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from openpyxl.workbook import Workbook

In [27]:
url = "https://www.bbc.com/sport/football/premier-league/top-scorers"

In [29]:
player_names = []
team_names = []
goals = []
assists = []
num_matches = []
shots = []

In [31]:
try:
    response = requests.get(url)
    response.raise_for_status
except Exception as e:
    print(e)
else:
    soup = BeautifulSoup(response.content, 'html.parser')
    print("Successful..!")
    players = (soup.find('tbody').find_all("tr", class_="ssrcss-qqhdqi-TableRowBody e1icz100"))
    for player in players:
        player_name = (player.find('div', class_="ssrcss-m6ah29-PlayerName e1n8xy5b1").get_text(strip=True))
        team_name = (player.find('div', class_="ssrcss-qvpga1-TeamsSummary e1n8xy5b0").get_text(strip=True))
        goal_scored = int(player.find("div", class_="ssrcss-18ap757-CellWrapper ef9ipf0").get_text(strip=True))

        stats = player.find_all("div", class_="ssrcss-1vo7v3r-CellWrapper ef9ipf0")
        assists_made = int(stats[0].get_text(strip=True))
        matches_played = int(stats[2].get_text(strip=True))
        shots_taken = int(stats[-3].get_text(strip=True))
        
        goals.append(goal_scored)
        team_names.append(team_name)
        player_names.append(player_name)
        assists.append(assists_made)
        num_matches.append(matches_played)
        shots.append(shots_taken)


    data = {
        "player": player_names,
        "team": team_names,
        "matches": num_matches,
        "Goals": goals,
        "Assists": assists,
        "Shots": shots
    }

    player_df = pd.DataFrame(data)

Successful..!

In [32]:
player_df

             player            team  matches  Goals  Assists  Shots
0        E. Haaland        Man City       12     14        1     50
1       Igor Thiago       Brentford       12      9        0     28
2        D. Welbeck        Brighton       12      7        0     18
3        A. Semenyo     Bournemouth       11      6        3     23
4         J. Mateta  Crystal Palace       12      6        0     33
5       Richarlison           Spurs       12      5        2     20
6         B. Mbeumo         Man Utd       12      5        1     29
7        João Pedro         Chelsea       12      4        3     21
8            E. Eze         Arsenal       11      4        2     31
9        Pedro Neto         Chelsea       12      4        2     18
10    Mohamed Salah       Liverpool       12      4        2     30
11       J. Anthony         Burnley       12      4        1     16
12     E. Fernández         Chelsea       11      4        1     24
13        I. Ndiaye         Everton       12      4        1     13
14        J. Kroupi     Bournemouth        9      4        0     14
15        C. Wilson        West Ham        9      4        0     13
16     N. Woltemade       Newcastle        9      4        0     17
17        W. Isidor      Sunderland       12      4        0     25
18      V. Gyökeres         Arsenal       10      4        0     20
19      L. Trossard         Arsenal       10      3        3     16
20       E. Buendía     Aston Villa       10      3        2     16
21         C. Gakpo       Liverpool       12      3        2     30
22  Bruno Guimarães       Newcastle       11      3        2     15
23        M. Rogers     Aston Villa       12      3        2     15
24         D. Malen     Aston Villa       12      3        1     15
25       H. Ekitiké       Liverpool       11      3        1     16
26         Casemiro         Man Utd       11      3        1     12
27   R. Gravenberch       Liverpool       10      3        1     12
28          I. Sarr  Crystal Palace       10      3        1     16
29       M. Caicedo         Chelsea       11      3        1     10
30     M. Tavernier     Bournemouth       12      3        1     21
31   M. Gibbs-White    Nottm Forest       12      3        1     27
32        K. Schade       Brentford       12      3        1     19
33         J. Bowen        West Ham       12      3        1     28
34        L. Nmecha           Leeds       12      3        0      9
35      Z. Flemming         Burnley        9      3        0     10
36        H. Barnes       Newcastle       12      3        0     16
37          B. Saka         Arsenal       10      3        0     20
38    Lucas Paquetá        West Ham       11      3        0     16
39    M. van de Ven           Spurs       12      3        0      7

In [35]:
player_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   player   40 non-null     object
 1   team     40 non-null     object
 2   matches  40 non-null     int64
 3   Goals    40 non-null     int64
 4   Assists  40 non-null     int64
 5   Shots    40 non-null     int64
dtypes: int64(4), object(2)
memory usage: 2.0+ KB

In [37]:
player_df.describe()

         matches     Goals  Assists      Shots
count  40.000000  40.00000  40.0000  40.000000
mean   11.200000   4.07500   1.0000  19.725000
std     1.042679   2.05548   0.9337   8.249281
min     9.000000   3.00000   0.0000   7.000000
25%    10.750000   3.00000   0.0000  15.000000
50%    12.000000   3.00000   1.0000  17.500000
75%    12.000000   4.00000   2.0000  24.250000
max    12.000000  14.00000   3.0000  50.000000

### Exporting our scraped data into an Excel spreadsheet

In [39]:
player_df.to_excel('EPL Top scorers.xlsx', index=False)

In [56]:
player_names

['E. Haaland',
 'Igor Thiago',
 'D. Welbeck',
 'A. Semenyo',
 'J. Mateta',
 'Richarlison',
 'B. Mbeumo',
 'João Pedro',
 'E. Eze',
 'Pedro Neto',
 'Mohamed Salah',
 'J. Anthony',
 'E. Fernández',
 'I. Ndiaye',
 'J. Kroupi',
 'C. Wilson',
 'N. Woltemade',
 'W. Isidor',
 'V. Gyökeres',
 'L. Trossard',
 'E. Buendía',
 'C. Gakpo',
 'Bruno Guimarães',
 'M. Rogers',
 'D. Malen',
 'H. Ekitiké',
 'Casemiro',
 'R. Gravenberch',
 'I. Sarr',
 'M. Caicedo',
 'M. Tavernier',
 'M. Gibbs-White',
 'K. Schade',
 'J. Bowen',
 'L. Nmecha',
 'Z. Flemming',
 'H. Barnes',
 'B. Saka',
 'Lucas Paquetá',
 'M. van de Ven']

In [74]:
team_names

['Man City',
 'Brentford',
 'Brighton',
 'Bournemouth',
 'Crystal Palace',
 'Spurs',
 'Man Utd',
 'Chelsea',
 'Arsenal',
 'Chelsea',
 'Liverpool',
 'Burnley',
 'Chelsea',
 'Everton',
 'Bournemouth',
 'West Ham',
 'Newcastle',
 'Sunderland',
 'Arsenal',
 'Arsenal',
 'Aston Villa',
 'Liverpool',
 'Newcastle',
 'Aston Villa',
 'Aston Villa',
 'Liverpool',
 'Man Utd',
 'Liverpool',
 'Crystal Palace',
 'Chelsea',
 'Bournemouth',
 'Nottm Forest',
 'Brentford',
 'West Ham',
 'Leeds',
 'Burnley',
 'Newcastle',
 'Arsenal',
 'West Ham',
 'Spurs']

In [80]:
goals

[14,
 9,
 7,
 6,
 6,
 5,
 5,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3,
 3]